@font-face {
    font-family: "Uni Sans Thin"; /* Гарнитура шрифта */
    src: url(static/fonts/UniSansThin.otf); /* Путь к файлу со шрифтом */
}

body{
    background: url("/static/bg.jpg")center center fixed no-repeat;
    background-color: #cccccc;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.preview{
    width: 100px;
    object-fit: cover;
}

.spacer{
    height: 100vh;
}
input[type=text], input[type=password], input[type=email], input[type=file]{
    border: none;
    border-radius: unset;
    color: #2c9a88;
    font-family: "Uni Sans";
    text-align: center;
    letter-spacing: 3px;
}

input[type=text]:active{
    color: #2c9a88;

}

::-webkit-input-placeholder {
    color: #2c9a88;
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    color: #2c9a88;
    text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #2c9a88;
    text-align: center;
}

:-ms-input-placeholder {
    color: #2c9a88;
    text-align: center;
}



.btn{
    font-family: "Uni Sans";
    width: 100%;
    color: #ffffff;
    text-decoration: none;
    border-radius: unset;
    background: none;
    outline:2px solid #ffffff;
    margin: 0;
}

.btn:hover{
    background-color: #ffffff;
    outline:2px solid #ffffff;
    color: #2c9a88;
    transition: all ease-in-out .2s;
}

#btnstack{
    padding: 0;
    margin: 0 4px  ;
}

.alert-danger{
    opacity: .689;
    color: indianred;
    background-color: #fff;
}

.line{
    position: relative;
    padding: 0px;

    background: rgba(174, 192, 201, 0.82);
    width: calc(100% + 40px) ;
    left: -20px;
    height: 1px;
}

a{
    color: #ffffff;
}
a:hover{
    color: #bcc8c8;
}
a:active{
    color: #aec0c9;
}

.imgicon{
    opacity: .4;
}
.imgicon:hover{
    /*cursor: pointer;*/
    opacity: 1;
    transition: opacity ease-in-out 0.1s;
}

.social {
    margin-right: 10px;
    margin-bottom: 10px;
    font-family: "Uni Sans";
    font-size: 14px;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    right: 0;
    display: inline-block;
    /*min-width: 300px;*/
}
#social_icon{
    margin: 0 3px;
    width: 45px;
    height: 26px;
    padding: 0;
    padding-top: 2px;
    letter-spacing: 3px;
    z-index: 3;
}
.textPre{
    margin-right: 14px;
}

